* {
  letter-spacing: 0.07em;
  font-family: "Open Sans", sans-serif;
}


body {
  background: rgb(199, 170, 218);
  background: linear-gradient(
    90deg,
    rgba(199, 170, 218, 1) 0%,
    rgba(249, 212, 193, 1) 90%
  );
}



.quote-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22rem;
  width: 40rem;
  margin-top:11em;
  border-radius: 1px;
  box-shadow: 0px 0px 0px 8px rgba(124, 124, 124, 0.3);    
  border: 5px solid rgba(161, 197, 221, 0.863);
  margin-left: auto;
  margin-right: auto;
 

}


.card-text {
  text-align:center;
  font-size: 22px;
  justify-content:center;  
  margin-right: .5em;
  margin-left:.5em;
  align-content:center;
  font-family: 'Open Sans', sans-serif;
}



  .page-title {
    font-family: 'Fuzzy Bubbles', bold;
    font-weight: bold;
    text-align: center;
    margin-bottom:0;
    margin-top:2.25em;
    font-size: 52px;
    text-shadow: 2px 0px 4px rgba(0, 0, 0, 0.452);
    color: rgba(0, 0, 0, 0.726);


  }

  .card-button {
    box-shadow: 0px 0px 0px 2px #afbee6;
    background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    background-color:#7892c2;
    border-radius:10px;
    border:1px solid #4e6096;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:19px;
    padding:11px 40px;
    text-decoration:none;
    text-shadow:0px 1px 0px #283966;
  }
  .card-button:hover {
    background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    background-color:#476e9e;
  }
  .card-button:active {
    position:relative;
    top:1px;
  }
  .card-button {
    box-shadow: 0px 0px 0px 2px #afbee6;
    background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    background-color:#7892c2;
    border-radius:10px;
    border:1px solid #4e6096;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:19px;
    padding:11px 40px;
    text-decoration:none;
    text-shadow:0px 1px 0px #283966;
  }
  .card-button:hover {
    background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    background-color:#476e9e;
  }
  .card-button:active {
    position:relative;
    top:1px;
  }
    
