* {
  letter-spacing: 0.07em;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing:border-box;

    background-color: #75c3e3;

 
}
html {
  background-color: #75c3e3;
}

body {
  background-color: #75c3e3;
}

.page-title {
  display: flex;
  margin-bottom: 3rem;
 
  justify-content: center;
  align-self: center;
  font-family: "Fuzzy Bubbles", bold;
  font-weight: bold;
  text-align: center;
  margin-top: 4rem;
  font-size: 3em;
  text-shadow: 2px 0px 4px rgba(0, 0, 0, 0.822);
  color: rgba(255, 255, 255, 0.904);
  margin-right: 5%;
  margin-left: 5%
}
.quote-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  max-height: 25%;
  max-width: auto;
 

  
  border-radius: 1px;
  box-shadow: 0px 0px 0px 8px rgba(124, 124, 124, 0.294);
  outline: 8px dashed #bd7385e1;
  outline-offset: 0px;
  padding: 30px;
  margin-bottom:5rem;
  
}

.quote-text {
  display:flex;
  text-align: center;
  color: white;
  border: rgba(255, 255, 255, 0.89);
  font-size: 1.25em;
  text-shadow: 2px 0px 4px rgba(0, 0, 0, 0.65);
  justify-content: center;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 1rem;
  margin-bottom:2rem;
  align-self: center;
  font-family: "Open Sans", sans-serif;
 
  letter-spacing: 0.05em;
  max-width:100%
}

.author-text {
  display: flex;
  text-align: center;
  color: white;
  text-shadow: 2px 0px 4px rgba(0, 0, 0, 0.63);
  margin-bottom: 1em;
  font-size: 1.1em;
}

.quote-button:hover {
  background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  background-color: #476e9e;
}
.quote-button:active {
  position: relative;
  top: 1px;
}
.quote-button {
  
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 15px -9px #000000;
  background-color: #6161df;
  border-radius: 10px;
  border: 1px solid #384058;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 1em;
  padding: 11px 40px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;

  margin-top: 0em;
  margin-bottom: 2em;
  position: relative;
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(235, 195, 64);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

image{
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 1rem;
  align-self: center;
  justify-content: center;
}
